package {{package}};

{{^x-is-composed-model}}
{{#serializableModel}}import java.io.Serializable;
{{/serializableModel}}{{^supportJava6}}import java.util.Objects;
{{/supportJava6}}{{#useBeanValidation}}import javax.validation.Valid;
import javax.validation.constraints.*;
{{/useBeanValidation}}

{{#imports}}import {{import}};
{{/imports}}{{#supportJava6}}import org.apache.commons.lang3.ObjectUtils;
{{/supportJava6}}
{{/x-is-composed-model}}

{{#models}}{{#model}}
{{#isComposedModel}}{{>interface}}
{{/isComposedModel}}
{{^isComposedModel}}{{#description}}/**
 * {{description}}
 */
{{/description}}
{{#is this 'enum'}}{{>enumOuterClass}}
{{/is}}
{{#isNot this 'enum'}}{{>pojo}}
{{/isNot}}
{{/isComposedModel}}
{{/model}}
{{/models}}
